<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.autonomous.fixmounts</string>

  <key>ProgramArguments</key>
  <array>
    <string>/path/to/fix_mounts.sh</string>
  </array>

  <key>Nice</key>
  <integer>10</integer>

  <key>StartInterval</key>
  <integer>15</integer>

  <key>ThrottleInterval</key>
  <integer>15</integer>

  <key>RunAtLoad</key>
  <false/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardErrorPath</key>
  <string>/var/log/fixmounts.log</string>

  <key>StandardOutPath</key>
  <string>/var/log/fixmounts.log</string>
</dict>
</plist>
